html, body {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right:5%;
    background-color: #2D323D !important;
}

.col-md-4, .col-md-3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#title-bar {
    position: relative;
    height: 180px;
    padding: 50px 10px 10px 10px;
    text-align: center;
    color: white;
}

#title {
    font-size: 3.5rem;
    font-weight: 500;
}

#description {
    font-size: 2rem;
    font-weight: 100;
}

.graph-card {
    position: relative;
    margin-bottom: 20px;
    background-color: #3B4152;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    overflow: hidden;
    text-align: center;
}

.card-title-section {
    width: 100%;
    min-height: 72px;
    padding: 15px;
    display: table;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.graph-section {
    width: 100%;
    min-height: 350px;
    padding: 15px;
    background-color: #3F4C64;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.bb-axis path, .tick line {
    stroke: white;
}

.bb-chart-arcs {
    stroke: white;
    stroke-width: 0.5;
}

g {
    fill: white;
    font-weight: lighter;
}




